.website-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 4px;

  .logo {
    width: 35px;
    height: 35px;
  }

  .name {
    font: $font-base-style;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    margin-left: 10px;
  }
}
