.website-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;

  .logo {
    width: 35px;
    height: 35px;
  }

  .name {
    font: $font-base-style;
    color: #fff;
    font-size: 25px;
    font-style: italic;
  }
}
