.course-chapter {
  .chapter-header {

  }

  &>button {
    margin-top: 20px;
  }

  .chapter-content {
    margin: 20px 0;
  }

  .btn-group {
    margin-top: 20px;

    button:not(:last-child) {
      margin-right: 10px;
    }
  }

}