/**
  样式全局变量文件
 */

// 侧边菜单栏宽度
$menu-width: 200px;
// 侧边菜单栏折叠后的宽度
$menu-fold-width: 50px;
// 侧边菜单栏的背景色-白色
$menu-bg-light-color: #FFFFFF;
// 侧边菜单栏的背景色-黑色
$menu-bg-dark-color: #001529;


// 基础字体样式
$font-base-style: bold 48px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;

