.teacher-list-container {
  .teacher-query {
    @include  box-base-style;
    margin-bottom: 20px;
    padding: 20px;
  }

  .teacher-list {
    @include box-base-style;

    .btn-group {
      display: flex;
      flex-wrap: wrap;

      button {
        margin: 0 10px 10px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

